:root{
    --background-color:#eee;
    --head-color:rgb(144,202,249);
    --txt-color:#000;
    --main-color:#fff;
}

[data-theme="dark"]{
    --background-color:#333;
    --txt-color:#fff;
    --head-color:#000;
    --main-color:#000;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-size:16px;
    background-color:#ddecfc;
    
}

.container{
    max-width: 600px;
    margin:calc((100vh - 600px)/2) auto;
    box-shadow: 0 8px 15px 0px rgba(0,0,0,0.2);
}

hr{
    height:2px;
    background: var(--txt-color);
}

.head{
    display: flex;
    justify-content:flex-start;
    padding:20px;
    background-color:rgb(240, 240, 240);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    
}

.chat-txt{
    width:280px;
    color:var(--txt-color);
    display: flex;
    justify-content: flex-end;
}


.main{
    padding:30px 40px;
    padding-top: 10px !important;
    background-color: var(--main-color); 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(240, 240, 240);
}

#index-form{
    background-color: white;
    padding:20px;
    border-radius: 15px;
}

.main .form-control{
    margin-bottom:20px;
}

.main .form-control label{
    display: block;
    font-size:30px;
    margin-bottom:5px;
    
    color:var(--txt-color);
}

.main input[type="text"]{
    width: 100%;
    height:45px;
    font-size:20px;
    border:3px solid #ddecfc;
    padding:10px;
}

.main input[type="text"]:focus{
    outline: none;
}

.btn-group{
    display: flex;
    justify-content: space-evenly;
    
}

.btn-join,.btn-create
{   
    cursor: pointer;
    font-size: 20px;
    margin-top:15px;
    width:200px;
    height:50px;
    border:1px solid #ddecfc;
    background-color: #ddecfc;
}

.l-user-text{
    display: flex;
}

.new-contain{
    max-width:1200px;
    
    margin:40px auto;
}

.new-main{
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.new-main .left{
   background-color: rgb(245, 245, 245);
   padding:20px;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   overflow-y: scroll;
   height:750px;
   visibility: visible;

}

.new-main .left::-webkit-scrollbar{
    width: 5px;
}

.new-main .left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    
}
   
  .new-main .left::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategray;
    border-radius: 40px;
    max-height:40px;
  }

.current-user{
    display: flex;
    justify-content: start;
}

.current-user img{
    border-radius: 50px;
    border:1px solid black;
}

.current-user .left-user-name{
    align-self: center;
    margin-left:10px;
    color: rgb(48, 146, 179);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.new-main .left input[type='text']{
    width: 100%;
    margin-top:20px;
    border-radius:10px;
    border: 1px solid white;
    height:30px;
    padding-left:30px;
    
}

.fa-search{
    align-self: center;
    margin-top: 20px;
    padding:8px;
    position: absolute;
    color: rgb(205,200,200);
}

.new-users-list .user{
    margin-top:20px;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgb(199, 176, 176);
    padding-bottom: 7px;
}

.new-users-list .user img{

border-radius: 50px;
border:1px solid black;

}

.new-users-list .user .info{
    margin-left:10px;
    width:100%;
}

.new-users-list .user .info .name-time{
    display: flex;
    justify-content: space-between;

}

.new-users-list .user .info .name-time .name{
    font-size: 20px;
    color: rgb(25, 172, 221);
    font-weight: 550;
    font-family: Helvetica, sans-serif,Arial;
}

.new-users-list .user .typing{
    width: 100%;
}

.new-users-list .user .typing .type{
    color: rgb(50, 163, 50);
    font-style: italic;
    font-weight: 500;
}

.new-main .right{
   background-color: white;
   padding:20px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
    height:750px;
    visibility: visible;

}

.right header{
    display: flex;
    justify-content: space-between;
}

.right header .new-room-id{
    display: flex;
    justify-content: start;
}

.right header .new-room-id .room-id{
    margin-left:10px;
    align-self: center;
    font-size: 20px;
    
}

.right header .switch-toggle{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width:150px;
}

.right header .fa-times-circle{
    align-self: center;
    font-size:30px;
    color: red;
    cursor: pointer;
    margin-right: 20px;
    
}





.fa-align-justify{
    font-size:25px;
    cursor: pointer;
}

.new-hr{
    margin-top:10px;
    height:2px;
    border: 1px solid rgb(232,239,241);
    background-color:rgb(232, 239, 241);
}

#MainMessage{
    height:580px;
    overflow-y: scroll;
}

#MainMessage::-webkit-scrollbar{
    width: 5px;
}

#MainMessage::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    
}
   
  #MainMessage::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategray;
    border-radius: 40px;
    max-height:40px;
  }

  .send .send-form{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
  }
  .send input[type="text"]{
    width:95%;
    height:40px;
    padding:20px;
    font-size: 18px;
    padding-right:100px;
    border-radius: 20px;
    border:1px solid rgba(0,0,0);
    background-color:rgb(245,245,245);
  }

  .fa-smile{
      align-self: center;
      font-size:30px;
      position: absolute;
      right:calc((100vw - 950px)/2);
      color: rgb(74, 83, 2);
      background-color: white;
      cursor: pointer;
  }

  .new-btn{
    position: absolute;
    right:calc((100vw - 1080px)/2);
    border-radius: 50%;
    height:50px;
    align-self: center;
    cursor: pointer;
    width:50px;
    background-color: rgb(19,118,231);
    border:1px solid rgb(19,118,231);
  }

  .fa-paper-plane{
      color:white;
      font-size:18px;
      cursor: pointer;
  }

  .n-hr{
      margin-bottom: 10px;
      height:2px;
    border: 1px solid rgb(232,239,241);
    background-color:rgb(232, 239, 241);
  }

  .greet-msg{
      margin:10px auto;
      max-width:200px;
      text-align: center;
      padding:5px;
      border-radius: 20px;
      background-color: rgb(192, 250, 250);
      font-size: 20px;
  }

  .greet-msg .aplha{
      color:black;
      font-size: 20px;
      margin-bottom: 5px;
  }

  .personal{
      padding:5px;
      margin-top:10px;
      margin-bottom:10px;
      border-radius: 5px;
      overflow-wrap: break-word;
      background-color: rgb(220,248,198);
      width:60%;
      margin-right:10px;
      
  }

  .emoji-msg{
      padding:5px;
      margin-top:10px;
      margin-bottom: 10px;
      border-radius: 5px;
      overflow-wrap: break-word;
      background-color: rgb(220,248,198);
      width:60%;
      margin-right:10px;

  }

  .emoji-msg .fa-grin-squint-tears,.fa-kiss-wink-heart,.fa-surprise,.fa-sad-tear,.fa-laugh-squint{
      color: rgb(100, 100, 1);
      font-size: 25px;
  } 

  .emoji-msg .fa-angry{
      color: red;
      font-size: 25px;
  }

  .personal .p-text{

      font-size:15px;
  }

  .personal .p-time{
      right:0;
  }

  .work{
    padding:5px;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 5px;
    overflow-wrap: break-word;
    background-color: rgb(174, 180, 170);
    width:50%;
    
  }

  .work .work-p{
      color: black;
      font-size: 15px;
  }

  .work .work-time{
      right:0;
  }

  #username-text{
      align-self: center;
      margin-left: 10px;
      color: red;
      font-size: 20px;
  }

  .p-text-name{
      color:red !important;
      font-size: 22px !important;
  }

  .p-text-text{
      color:black !important;
      font-size: 18px !important;
  }

  .reaction{
      display: flex;
    position: absolute;
    bottom:125px;
    z-index: 10;
    visibility: hidden;
    right:calc((100vw - 1170px)/2);
    width:250px;
    background-color: rgb(90, 88, 88);
    justify-content: space-between;
    padding:10px;
    border-radius: 20px;
  }
  .reaction > .far{
      font-size: 25px;
      color:yellow;
  }

  .reaction > .fas{
      font-size: 25px;
      color: yellow;
  }
  
  .fa-align-justify{
      visibility: hidden;
  }


@media only screen and (min-width:701px) and (max-width:1100px){

    .container{
        max-width: 550px;
        margin-top:100px;
        box-shadow: 0 8px 15px 0px rgba(0,0,0,0.2);
    }

    .fa-align-justify{
        visibility: visible;
    }

    .new-main{
        height:100vh;
        width:100vw;
    }

    .left{
        
        width:100%;
        position: fixed;
        left:0;
        top:0;
        visibility: hidden;
    }

    .right{
        width:100%;
        visibility: visible;
        position: fixed;
        left:0;
        top:0;
    }

    #MainMessage{
        height:650px;
        overflow-y: scroll;
    }

    .send .send-form{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        z-index: 10;
        position: fixed;
        bottom:15px;
        width:90%;
        
    }
    .send input[type="text"]{
      width:95%;
      height:40px;
      padding:20px;
      font-size: 18px;
      padding-right:100px;
      border-radius: 20px;
      border:1px solid rgba(0,0,0);
      background-color:rgb(245,245,245);
    }
  
    .fa-smile{
        align-self: center;
        font-size:30px;
        position: fixed;
        bottom: 20px;
        right:16%;
        color: rgb(74, 83, 2);
        
        cursor: pointer;
    }
  
    .new-btn{
      position: fixed;
      right:11%;
      border-radius: 50%;
      height:45px;
      align-self: center;
      cursor: pointer;
      width:45px;
      background-color: rgb(19,118,231);
      border:1px solid rgb(19,118,231);
    }
  
    .fa-paper-plane{
        color:white;
        font-size:18px;
        cursor: pointer;
    }

    .reaction{
      display: flex;
      position: fixed;
      bottom:60px;
      z-index: 100;
      visibility: hidden;
      right:2%;
      width:200px;
      background-color: rgb(90, 88, 88);
      justify-content: space-between;
      padding:10px;
      border-radius: 20px;
    }

}


@media only screen and (min-width:501px) and (max-width:700px){
    .container{
        max-width: 450px;
        margin-top:100px;
        box-shadow: 0 8px 15px 0px rgba(0,0,0,0.2);
    }

    .fa-align-justify{
        visibility: visible;
    }

    .new-main{
        height:100vh;
        width:100vw;
    }

    .left{
        
        width:100%;
        position: fixed;
        left:0;
        top:0;
        visibility: hidden;
    }

    .right{
        width:100%;
        visibility: visible;
        position: fixed;
        left:0;
        top:0;
    }

    #MainMessage{
        height:500px;
        overflow-y: scroll;
    }

    .send .send-form{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        z-index: 10;
        position: fixed;
        bottom:15px;
        width:90%;
        
    }
    .send input[type="text"]{
      width:95%;
      height:40px;
      padding:20px;
      font-size: 18px;
      padding-right:100px;
      border-radius: 20px;
      border:1px solid rgba(0,0,0);
      background-color:rgb(245,245,245);
    }
  
    .fa-smile{
        align-self: center;
        font-size:30px;
        position: fixed;
        bottom: 20px;
        right:17%;
        color: rgb(74, 83, 2);
        
        cursor: pointer;
    }
  
    .new-btn{
      position: fixed;
      right:8%;
      border-radius: 50%;
      height:45px;
      align-self: center;
      cursor: pointer;
      width:45px;
      background-color: rgb(19,118,231);
      border:1px solid rgb(19,118,231);
    }
  
    .fa-paper-plane{
        color:white;
        font-size:18px;
        cursor: pointer;
    }

    .reaction{
      display: flex;
      position: fixed;
      bottom:60px;
      z-index: 100;
      visibility: hidden;
      right:2%;
      width:200px;
      background-color: rgb(90, 88, 88);
      justify-content: space-between;
      padding:10px;
      border-radius: 20px;
    }

}


  @media only screen and (max-width:500px){

    .container{
        max-width: 450px;
        margin-top:100px;
        box-shadow: 0 8px 15px 0px rgba(0,0,0,0.2);
    }

    .fa-align-justify{
        visibility: visible;
    }

    .new-main{
        height:100vh;
        width:100vw;
    }

    .left{
        
        width:100%;
        position: fixed;
        left:0;
        top:0;
        visibility: hidden;
    }

    .right{
        width:100%;
        visibility: visible;
        position: fixed;
        left:0;
        top:0;
    }

    #MainMessage{
        height:500px;
        overflow-y: scroll;
    }

    .send .send-form{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        z-index: 10;
        position: fixed;
        bottom:15px;
        width:90%;
        
    }
    .send input[type="text"]{
      width:95%;
      height:40px;
      padding:20px;
      font-size: 18px;
      padding-right:100px;
      border-radius: 20px;
      border:1px solid rgba(0,0,0);
      background-color:rgb(245,245,245);
    }
  
    .fa-smile{
        align-self: center;
        font-size:30px;
        position: fixed;
        bottom: 20px;
        right:16%;
        color: rgb(74, 83, 2);
        
        cursor: pointer;
    }
  
    .new-btn{
      position: fixed;
      right:5%;
      border-radius: 50%;
      height:45px;
      align-self: center;
      cursor: pointer;
      width:45px;
      background-color: rgb(19,118,231);
      border:1px solid rgb(19,118,231);
    }
  
    .fa-paper-plane{
        color:white;
        font-size:18px;
        cursor: pointer;
    }

    .reaction{
      display: flex;
      position: fixed;
      bottom:60px;
      z-index: 100;
      visibility: hidden;
      right:2%;
      width:200px;
      background-color: rgb(90, 88, 88);
      justify-content: space-between;
      padding:10px;
      border-radius: 20px;
    }

  }
