:root{
    --background-color:#eee;
    --head-color:rgb(144,202,249);
    --txt-color:#000;
    --main-color:#fff;
}

[data-theme="dark"]{
    --background-color:#333;
    --txt-color:#fff;
    --head-color:#000;
    --main-color:#000;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-size:16px;
    background-color:var(--background-color);
    
}

.container{
    max-width: 600px;
    margin:100px auto;
}

hr{
    height:2px;
    background: var(--txt-color);
}

.head{
    display: flex;
    padding:20px;
    background-color:var(--head-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.chat-txt{
    width: 300px;
    color:var(--txt-color);
}

.theme-switch-wrapper{
    display: flex;
    width:300px;
    justify-content: flex-end;
    align-items: center;
}

.theme-switch-wrapper h2{
    color:var(--txt-color);
    margin-left:10px;
    font-size:1rem;
}

.theme-switch{
    display:inline-block;
    height:34px;
    position: relative;
    width:60px;
}

.theme-switch input{
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.main{
    padding:30px 40px;
    background-color: var(--main-color); 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main .lbl{
    margin-bottom:20px;
}

.main .lbl label{
    display: block;
    font-size:20px;
    margin-bottom:5px;
    font-weight: 600;
    color:var(--txt-color);
}

.main input[type='text']{
    width: 100%;
    height:45px;
    font-size:16px;
    border:2px solid green;
    padding:5px;
}

.btn-group{
    display: flex;
    justify-content: space-evenly;
    
}

.btn
{   
    font-weight: 600;
    font-size: 15px;
    margin-top:15px;
    width:200px;
    height:35px;
}

.chat-contain{
    max-width:1200px;
    margin:25px auto;
}

.chat-head{
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    padding:15px;
    align-items: center;
}

.head-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:400px;
}

.chat-btn{
    right:0;
}

.chat-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.main-side{
    background-color:lightblue;
    overflow-y: scroll;
    padding:20px 20px 60px;
}

.main-side h2,h3{
    margin-bottom: 10px;
}

.main-side ul li{
    padding:10px 0px;
}

.main-msg{
    height:550px;
    overflow-x: scroll;
    padding: 30px;
    background-color: lightseagreen;
}

.txt-send{
    padding:30px 40px;
    background-color: lightcoral;
}

.txt-send form{
    display: flex;
}

.txt-send form input[type='text']{
    height:40px;
    padding:5px;
    flex:1;
}